



/* ? Grid section style start */
.grid {
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 200px;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 40px;
}

.grid-container {
    /* max-width: 75%; */
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.grid-box-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.grid-box-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.grid-box-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.grid-box-4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

}

.grid-box-5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.grid-card {
    border-radius: 40px;
    padding: 40px;
    background-color: #35116573;
    color: #ffff;
    text-align: left;
}

.grid-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.grid-card p {
    font-size: 16px;
}

.card-image {
    max-width: 60px;
    margin-bottom: 16px;
}

.grid-box-1 .card-image {
    margin-top: 90px;
}

/* ? Featured Section Style Start */

.featured-challange {
    max-width: 1600px;
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.featured-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.video-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.video-card-container .card-card {
    max-width: 380px;
    background-color: #250D44;
    border-radius: 25px;

}

.card-card iframe {
    max-width: 380px;
    height: 214px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.card-card .card-content {
    background-color: #250D44;
    max-width: 380px;
    padding: 20px;
    text-align: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-content h4 {
    font-size: 24px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 12px;
}

.card-content p {
    font-size: 16px;
    color: #ffff;
    margin-bottom: 12px;
}

.card-content .card-span {
    font-size: 16px;
    color: #00FF88;
}

/* ? Challange Section Style Start */
.challange-container {
    max-width: 1200px;
    margin: 120px auto 0 auto;
    text-align: center;
}

.challange-card {
    display: flex;
    gap: 24px;
    text-align: left;
    align-items: center;
    background-color: #270850;
    padding: 40px;
    border-radius: 40px;
}

.challange-content h3 {
    font-size: 32px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 16px;
}

.challange-content p {
    font-size: 16px;
    color: #ffff;
    margin-bottom: 16px;
}

.challange-section-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 184px;
    width: fit-content;
    gap: 8px;
}

.challange-section-icon img {
    width: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    object-fit: contain; 
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


/* ?Footer Section Start */
footer {
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    padding: 120px;
}

.footer-container {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.footer-container h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 32px;
}

.social-media-section {
    max-width: 544px;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-media-card {
    font-size: 20px;
    color: #ffff;
    margin-bottom: 32px;
}

footer p {
    font-size: 16px;
    color: #ffff;
}

.color-white {
    color: #ffff;
}

.color-gradien {
    display: inline-block;

    .color-gradien {
        background: linear-gradient(47.64deg,
                rgba(247, 233, 63, 1),
                rgba(251, 9, 180, 1),
                rgba(145, 0, 248, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


}
