@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* *Shard Style */
.display-flex {
    display: flex;
}

.btn{
    font-size: 16px;
    padding: 12px 16px;
    background-color: #ffff;
    color: #1A0B2E;
    border-radius: 45px;
    justify-self: center;
}

/*? nav section style */
header {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 200px;
    align-items: center;
}

.color-white {
    color: #ffff;
}

.color-gradien {
    color: rgba(251, 9, 180, 1);
}

nav ul {
    gap: 32px;
    list-style-type: none;
}

ul .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


/* ?Hero Section Style Start */

.hero{
    border: 2px solid red;
    max-width: 1600px;
    padding: 100px 525px;
    text-align: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-image img{
    max-width: 350px;
    height: 350px;
}

.hero-content h2{
    font-size: 60px;
    color: #ffff;
    margin-bottom: 10px;
}
.hero-content p{
    font-size: 16px;
    color: #ffff;
}

.hero-btn .hero-btn-2{
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* ? About section style start */
.about{
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px auto 120px auto;
    background-color: #1A0B2E;  
}
.container{
    max-width: 75%;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-heading{
    border: 1px  solid red;
    margin:0 auto;
}
.about-heading h2{
    font-size: 48px;
    font-weight: 900;
    color: #ffff;
    margin: 0px;
}
.about-heading p{
    font-size: 16px;
    color: #ffff;
    margin-top: 16px;
}
.review-section{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.review-card h2{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}
