@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? Shared Style */
.btn {
    font-size: 16px;
    padding: 12px 16px;
    color: #ffff;
    border-radius: 45px;
    justify-self: center;
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    border: none;

}

/*? nav section style */
header {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 200px;
    align-items: center;
}

.color-white {
    color: #ffff;
}

.color-gradien {
    color: rgba(251, 9, 180, 1);
}

nav ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

ul .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.hemburger-menu {
    display: none;
}

/* ?Hero Section Style Start */

.hero {
    max-width: 100%;
    min-width: 100vh;
    padding: 100px 525px;
    text-align: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image {
    display: flex;
    position: relative;
    justify-content: center;
}

.hero-image .img-1 {
    max-width: 350px;
    height: 350px;
    z-index: 5;
}

.hero-image .img-2 {
    transform: translate(-0%, 40%);
    position: absolute;
    z-index: 10;
}

.hero-content h2 {
    font-size: 60px;
    color: #ffff;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 16px;
    color: #ffff;
    margin-bottom: 24px;
}

.hero-btn .hero-btn-2 {
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 45px;
    justify-self: center;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* ? About section style start */
.about {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px auto 120px auto;
    background-color: #1A0B2E;
}

.container {
    max-width: 75%;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0px 120px 0px;
    text-align: center;
}

.about-heading {
    margin-bottom: 80px;
}

.about-heading h2 {
    font-size: 48px;
    font-weight: 900;
    color: #ffff;
    margin: 0px;
}

.about-heading p {
    font-size: 16px;
    color: #ffff;
    margin-top: 16px;
}

.review-section {
    max-width: 1200px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

hr {
    color: gray;
}

.review-card {
    align-items: center;
    text-align: center;
    max-width: 240px;
}

.review-card h2 {
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}

.review-card p {
    font-size: 16px;
    color: #ffff;
}






/* * Responsive section Mobile device */
@media screen and (max-width:576px) {

    /**  nav bar responsive */
    nav {
        padding: 16px 20px;
        justify-content: space-between;
    }

    .nav-menu,
    .nav-btn {
        display: none;
    }

    .hemburger-menu {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    /** hero section responsive */
    .hero {
        padding: 60px 20px;
        min-width: 100%;
    }

    .hero-image .img-1 {
        max-width: 250px;
        height: auto;
    }

    .hero-image .img-2 {
        max-width: 50px;
        transform: translate(0%, 100%);
    }

    .hero-content p {
        padding: 0 10px;
    }

    .hero-btn {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    /* ? About section responsive star  */
    .container {
        max-width: 90%; 
        padding: 40px 0;
    }

    .review-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
        margin-top: 40px;
    }

    .review-card {
        max-width: 100%
    }





}