@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? Shared Style */
.btn {
    font-size: 16px;
    padding: 12px 16px;
    background-color: #ffff;
    color: #1A0B2E;
    border-radius: 45px;
    justify-self: center;
}

/*? nav section style */
header {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 200px;
    align-items: center;
}

.color-white {
    color: #ffff;
}

.color-gradien {
    color: rgba(251, 9, 180, 1);
}

nav ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

ul .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.hemburger-menu {
    display: none;
}



/* ?Hero Section Style Start */

.hero {
    max-width: 1600px;
    padding: 100px 525px;
    text-align: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image img {
    max-width: 350px;
    height: 350px;
}

.hero-content h2 {
    font-size: 60px;
    color: #ffff;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 16px;
    color: #ffff;
}

.hero-btn .hero-btn-2 {
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* ? About section style start */
.about {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px auto 120px auto;
    background-color: #1A0B2E;
}

.container {
    max-width: 75%;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0px 120px 0px;
    text-align: center;
}

.about-heading {
    margin-bottom: 80px;
}

.about-heading h2 {
    font-size: 48px;
    font-weight: 900;
    color: #ffff;
    margin: 0px;
}

.about-heading p {
    font-size: 16px;
    color: #ffff;
    margin-top: 16px;
}

.review-section {
    max-width: 1200px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

hr {
    color: gray;
}

.review-card {
    align-items: center;
    text-align: center;
    max-width: 240px;
}

.review-card h2 {
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}

.review-card p {
    font-size: 16;
    color: #ffff;
}

/* ? Grid section style start */
.grid {
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 200px;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 40px;
}

.grid-container {
    /* max-width: 75%; */
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.grid-box-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.grid-box-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.grid-box-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.grid-box-4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

}

.grid-box-5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.grid-card {
    border-radius: 40px;
    padding: 40px;
    background-color: #35116573;
    color: #ffff;
    text-align: left;
}

.grid-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.grid-card p {
    font-size: 16px;
}

.card-image {
    max-width: 60px;
    margin-bottom: 16px;
}

.grid-box-1 .card-image {
    margin-top: 90px;
}

/* ? Featured Section Style Start */

.featured {
    max-width: 1600px;
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.featured-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.video-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.video-card-container .card-card {
    max-width: 380px;
}

.card-card iframe {
    max-width: 380px;
    height: 214px;
}

.card-card .card-content {
    background-color: #250D44;
    max-width: 380px;
    padding: 20px;
    text-align: left;
}

.card-content h4 {
    font-size: 24px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 12px;
}

.card-content p {
    font-size: 16px;
    color: #ffff;
    margin-bottom: 12px;
}
.card-content .card-span{
    font-size: 16px;
    color: #00FF88;
}


/* * Responsive section Mobile device */
@media screen and (max-width:576px) {

    /*  nav bar responsive */
    .nav-link,
    .nav-btn {
        display: none;
    }

    .navbar .brand-name {
        margin-left: 10px;
    }

    .hemburger-menu {
        display: inline;
        margin-right: 5px;
    }

    /* hero section responsive */

    .hero {
        max-width: 100%;
        background: url(../assets/hero-bg.png);
    }

    .hero-image img {
        max-width: 350px;
        height: 350px;
    }

}