@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? Shared Style */
.btn {
    font-size: 1rem;
    padding: 12px 16px;
    color: #ffff;
    border-radius: 2.8rem;
    justify-self: center;
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    border: none;

}

/*? nav section style */
header {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 200px;
    align-items: center;
}

.color-white {
    color: #ffff;
}

.color-gradien {
    background-clip: text;
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

nav ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

ul .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.hemburger-menu {
    display: none;
}

/* ?Hero Section Style Start */

.hero {
    max-width: 100%;
    min-width: 1600px;
    padding: 100px 525px;
    text-align: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image {
    display: flex;
    position: relative;
    justify-content: center;
}

.hero-image .img-1 {
    max-width: 350px;
    height: 350px;
    z-index: 5;
}

.hero-image .img-2 {
    transform: translate(-0%, 40%);
    position: absolute;
    z-index: 10;
}

.tooltip {
    background-color: #00FF88;
    z-index: 20;
    position: absolute;
    transform: translate(170%, 60%);
    padding: 8px 16px;
    font-size: 1.1rem;
    border-radius: 45px;
    border: none;
}

.hero-content h2 {
    font-size: 3.75rem;
    color: #ffff;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1rem;
    color: #ffff;
    margin-bottom: 24px;
}

.hero-btn .hero-btn-2 {
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 45px;
    justify-self: center;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* ? About section style start */
.about {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px auto 120px auto;
    background-color: #1A0B2E;
}

.container {
    max-width: 75%;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0px 120px 0px;
    text-align: center;
}

.about-heading {
    margin-bottom: 80px;
}

.about-heading h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #ffff;
    margin: 0px;
}

.about-heading p {
    font-size: 1rem;
    color: #ffff;
    margin-top: 16px;
}

.review-section {
    max-width: 1200px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

hr {
    color: gray;
}

.review-card {
    align-items: center;
    text-align: center;
    max-width: 240px;
}

.review-card h2 {
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 16px;
}

.review-card p {
    font-size: 1rem;
    color: #ffff;
}

/* ? Grid section style start */
.grid {
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 200px;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 40px;
}

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.grid-box-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.grid-box-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.grid-box-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.grid-box-4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

}

.grid-box-5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.grid-card {
    border-radius: 40px;
    padding: 40px;
    background-color: #35116573;
    color: #ffff;
    text-align: left;
}

.grid-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.grid-card p {
    font-size: 1rem;
}

.card-image {
    max-width: 60px;
    margin-bottom: 16px;
}

.grid-box-1 .card-image {
    margin-top: 90px;
}

/* ? Featured Section Style Start */

.featured-challange {
    max-width: 1600px;
    background-color: #1A0B2E;
    padding: 120px 200px;
    margin: 0 auto;
}

.featured-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.video-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.video-card-container .card-card {
    max-width: 380px;
    background-color: #250D44;
    border-radius: 25px;

}

.card-card iframe {
    max-width: 380px;
    height: 214px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.card-card .card-content {
    background-color: #250D44;
    max-width: 380px;
    padding: 20px;
    text-align: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-content h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 12px;
}

.card-content p {
    font-size: 1rem;
    color: #ffff;
    margin-bottom: 12px;
}

.card-content .card-span {
    font-size: 1rem;
    color: #00FF88;
}

/* ? Challange Section Style Start */
.challange-container {
    max-width: 1200px;
    margin: 120px auto 0 auto;
    text-align: center;
}

.challange-card {
    display: flex;
    gap: 24px;
    text-align: left;
    align-items: center;
    background-color: #270850;
    padding: 40px;
    border-radius: 40px;
}

.challange-content h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 16px;
}

.challange-content p {
    font-size: 1rem;
    color: #ffff;
    margin-bottom: 16px;
}

.challange-section-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 184px;
    width: fit-content;
    gap: 8px;
}

.challange-section-icon img {
    width: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    object-fit: contain;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

/* ?Footer Section Start */
footer {
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    padding: 120px;
}

.footer-container {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.footer-container h1 {
    font-size: 4.3rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.social-media-section {
    max-width: 544px;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-media-card {
    font-size: 1.25rem;
    color: #ffff;
    margin-bottom: 32px;
}

footer p {
    font-size: 1rem;
    color: #ffff;
}

.color-white {
    color: #ffff;
}

.color-gradien {
    display: inline-block
}




/* * Responsive section Mobile device */
@media screen and (max-width:576px) {

    /**  nav bar responsive */
    nav {
        padding: 16px 20px;
        justify-content: space-between;
    }

    .nav-menu,
    .nav-btn {
        display: none;
    }

    .hemburger-menu {
        display: block;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }

    /** hero section responsive */
    .hero {
        padding: 60px 20px;
        min-width: 100%;
    }

    .hero-image .img-1 {
        max-width: 250px;
        height: auto;
    }

    .hero-image .img-2 {
        max-width: 50px;
        transform: translate(0%, 100%);
    }

    .hero-image .tooltip {
        transform: translate(140%, 40%);
    }

    .hero-content p {
        padding: 0 10px;
    }

    .hero-btn {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    /* ? About section responsive star  */
    .container {
        max-width: 90%;
        padding: 40px 0;
    }

    .review-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
        margin-top: 40px;
    }

    .review-card {
        max-width: 100%
    }

    /* ? Grid Section  Responsive start */
    .grid {
        padding: 60px 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .grid-box-1,
    .grid-box-2,
    .grid-box-3,
    .grid-box-4,
    .grid-box-5 {
        grid-column: auto;
        grid-row: auto;
    }

    .grid-box-1 .card-image {
        margin-top: 0;
    }

    /* ? featured section responsive start */
    .featured-challange {
        padding: 60px 20px;
    }

    .video-card-container {
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
    }

    .video-card-container .card-card,
    .card-card iframe,
    .card-card .card-content {
        max-width: 100%;
    }

    /* ? Challance Section Responsivce Style Start */
    .challange-container {
        margin-top: 80px;
    }

    .challange-card {
        flex-direction: column;
        text-align: center;
    }

    .challange-section-icon {
        margin: 0 auto;
    }

    /* ? Footer section responsive start */

    footer {
        padding: 60px 20px;
        background-size: cover;
        background-position: center;
    }

    .social-media-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }

    .social-media-card h6 {
        align-items: center;
        justify-content: center;
    }


}





/* ! Medium device responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {

    /** nav bar responsive */
    nav {
        padding: 16px 40px;
    }

    .nav-menu {
        gap: 20px;
    }

    /** hero section responsive */
    .hero {
        padding: 80px 40px;
        min-width: 100%;
    }

    /* ? About section responsive */
    .container {
        max-width: 90%;
        padding: 60px 0;
    }

    .review-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }

    /* ? Grid Section Responsive */
    .grid {
        padding: 80px 40px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .grid-box-1,
    .grid-box-2,
    .grid-box-3,
    .grid-box-4,
    .grid-box-5 {
        grid-column: auto;
        grid-row: auto;
    }

    .grid-box-1 .card-image {
        margin-top: 0;
    }

    /* ? Featured section responsive */
    .featured-challange {
        padding: 80px 40px;
    }

    .video-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .video-card-container .card-card,
    .card-card iframe {
        max-width: 100%;
    }

    /* !!!!!!!!!!!!!!!! problem */
    /* ? Challenge Section Responsive */
    .challange-card {
        padding: 30px;
        gap: 30px;
    }

    .challange-card img {
        max-width: 180px;
    }

    /* ? Footer section responsive */
    footer {
        padding: 80px 40px;
        background-position: center;
        padding: 120px;
    }

    .footer-container h1 {
        margin-top: 0 auto;
        font-size: 55px;
    }


    /* ?Hero Section Style Start */

    .hero {
        max-width: 1600px;
        padding: 50px 225px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: contain;
    }


    .hero-image .img-2 {
        transform: translate(-0%, 30%);
        position: absolute;
        z-index: 10;
    }


}



/* ? Large Device REsponsive */

@media screen and (min-width: 992px) {
    .hero {
        min-width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 100px 100px;
    }

    .hero-image {
        margin-bottom: 40px;
    }

    .tooltip {
        transform: translate(180%, 80%);
    }


    /*? nav section style */
    nav {
        padding: 16px 100px;
    }

    .hemburger-menu {
        display: none;
    }

    /* ? Grid section style start */
    .grid {
        padding: 60px 50px;
    }

    .grid-box-1 .card-image {
        margin-top: 35px;
    }


    /* ? Featured Section Style Start */

    .featured-challange {
        padding: 60px 50px;
    }

    .video-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* justify-content: space-around; */
        gap: 30px;
    }

    .card-card iframe {
        max-width: 100%;
        height: auto;
    }

    /* ? Challange Section Style Start */

    .challange-card {
        padding: 20px;
        border-radius: 20px;
    }


    /* ? Footer section responsive */
    footer {
        padding: 80px 40px;
        background-position: center;
        padding: 120px;
    }

    .footer-container h1 {
        margin-top: 0 auto;
        font-size: 55px;
    }


}